---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';



const seo = {
  title: "Bienvenue sur le site Provisoire de Mission Better Together | il est grand temps d'agir contre le harcélement",
  description: "cette page est la page d'attente du futur site de Allyah Semiai",
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Coming Soon</h1>
      <p class="fade-in">Soyez les premiers informés de la mise en ligne du site de Mission!</p>
      <SignupForm />
    </article>
  </Container>
</Layout>

